<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<div class="container">
    <header class="border-bottom lh-1 py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 text-center">
          <a class="blog-header-logo text-body-emphasis text-decoration-none" href="/top"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Shopping Mall</font></font></a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="btn btn-sm btn-outline-secondary" href="/mypage"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">마이페이지</font></font></a>
        </div>
      </div>
    </header>
  
    <div class="nav-scroller py-1 mb-3 border-bottom">
        <nav class="nav nav-underline justify-content-between">
            <a class="nav-item nav-link link-body-emphasis" href="/top"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">상의</font></font></a>
            <a class="nav-item nav-link link-body-emphasis" href="/bottoms"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">하의</font></font></a>
            <a class="nav-item nav-link link-body-emphasis" href="/shoes"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">신발</font></font></a>
            <a class="nav-item nav-link link-body-emphasis" href="/bag"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">가방</font></font></a>
        </nav>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
            <img src="{{ top.img.url }}" width="400dp" height="500dp">
        </div>
        <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">{{ top.subject }}</h3>
            <div class="mb-1 text-body-secondary">{{ top.price }}</div>
            <p class="card-text mb-auto">{{ top.explain }}</p>
            <button class="btn btn-warning rounded-pill px-3" onclick="window.location.href='{% url 'top:payment' top.id %}'">결제</button>
        </div>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>